body{
  padding: 0;
  margin: 0;
  width: 1440px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
}
a{
  text-decoration: none;
}
.visually-hidden{
  display: none;
}
.main-header{
  color: rgb(0,0,0);
  background-color: rgb(238,238,238);
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.center{
  width: 1200px;
  padding: 0 20px;
  display: flex;
}
.main-header-logo{
  width: 160px;
}
.main-navigation{
  width: 900px;
  margin-left: 100px;
  display: flex;
}
.site-navigation{
  width: 640px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.basket{
  width: 160px;
  margin-left: 100px;
}
.main-navigation a{
  color: rgb(0,0,0);
}
.main-navigation a:hover,
.main-navigation a:focus{
  color: rgb(251,86,90);
}
.site-navigation-current a{
  text-decoration: underline;
  text-decoration-color: rgb(251,86,90);
}
.main-navigation a:active{
  color: rgba(0,0,0,0.3);
}
.container{
  display:flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.service{
  width: 100%;
  display:flex;
}
.service-list{
  width: 100%;
  list-style: none;
  margin: 80px 0 0 0;
  padding:0;
  display: flex;
  justify-content: space-between;
}
.service-list li{
  width: 300px;
}
.service-list li:nth-child(3){
  margin-right: 60px;
}

.service-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.service-item p{
  }

.service-item a{
  border: 1px;
  border-radius: 3px;
  padding: 19px 40px 19px 40px;
  background-color: rgb(251,86,90);
  margin: 38px 38px 38px 38px;
  color: rgb(255,255,255);
  display: block;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
}
.service-item .button-green{
  background-color: rgb(0,202,116);
}
.service-item .button-yellow{
  background-color: rgb(239,200,74);
}
.button-red:hover,
.button-red:focus{
  background-color: rgb(231,66,70);
}
.button-red:active{
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px rgba(0,0,0,0.1);
}
.button-green:hover,
.button-green:focus{
  background-color: rgb(0,188,108);
}
.button-green:active{
  background-color: rgb(0,170,98);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px rgba(0,0,0,0.1);
}
.button-yellow:hover,
.button-yellow:focus{
  background-color: rgb(234,181,52);
}
.button-yellow:active{
  background-color: rgb(229,167,34);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px rgba(0,0,0,0.1);
}
.main-footer {
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
}
.footer-social {
  width: 260px;
  display: flex;
}
.social-list{
  padding: 0;
  list-style: none;
}
.footer-conclusion{
  width: 560px;
  padding: 0;
  margin-left: 140px;
}
}
.social-list{
  list-style: none;
}
.social-list a{
  color: rgb(0,0,0);
}
.conclusion-friends{
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.conclusion-sale{
  line-height: 22px;
}
.catalog-center{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.page-title{
  width: 100%;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0px;
  background-color: rgb(238,238,238);
}
.row {
  width: 1200px;
  padding:0 20px;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.filter{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.filter-form{
  display: flex;
  flex-direction: column;
}
.catalog {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 100px;
}
.filter fieldset{
  margin: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  border: none;
}

.filter h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.filter-grid input[type="radio"]{
  font: inherit;
  color: rgb(97.104.108);
}
.filter-specificity input{
  font: inherit;
  color: rgb(97.104.108);
}
.filter-button{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: rgb(238,238,238);
  width: 260px;
  height: 50px;
}
.filter-button:hover,
.filter-button:focus{
  background-color: rgb(223,223,223);
}
.filter-button:active{
  color: rgba(0,0,0,0.3);
  background-color: rgb(213,213,213);
  box-shadow: inset 0 3px rgba(0,0,0,0.1); 
}
.filter-view{
  width: 360px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-view a{
  color: rgb(97,104,108);
}
.catalog-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.catalog-filter h3{
  width: 360px;
}
.catalog-list{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-list li{
  margin-top: 40px;
  width: 360;
}

/* проверка */